/*doc
---
title: Atoms
category: atoms
---
This file contains the basic styles for the page

```html_example
<h1>Hello, world!</h1>
```
*/
h1 {
    color: rebeccapurple;
    font-family: "Courier New", Courier, monospace;
}
